* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 100%;
  width: 50rem;
}

aside {
  padding: 0.625rem 1.25rem;
  width: 15.625rem;
  border-right: 0.0625rem solid #111;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 0.0625rem solid #111;
  border-radius: 0.3125rem;
  display: block;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  font-size: 0.875rem;
}

main {
  flex: 1;
  padding: 0.625rem 1.25rem;
}

h2 {
  border-bottom: 0.0625rem solid #111;
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 1.25rem;
}

h3 {
  background-color: #fff;
  border-bottom: 0.0625rem solid #111;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 1.25rem 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}
